body{
    background: rgb(45, 44, 58);
    font-size: 30px;
}

[v-cloak]{
    display: none;
}

.clickArea {
    width: 100%;
    height: 100%;
}

h1 {
    margin-bottom: 30px;
}

.container-md {
    background: rgb(235, 207, 115);
    max-width: 800px;
    border-radius: 10px;
}

.display {
    background: white;
    height: 50px;
    text-align: right;
    margin: 0 10px 30px 10px;
    overflow: hidden;
}

button {
    margin-bottom: 10px;
}

button:active {
    --bs-btn-active-color: rgb(218, 47, 47);
}

footer{
    height: 30px;
}